In [0]:
import requests 
import pandas as pd

In [0]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wikipedia_link)
wikipedia_doc = wikipedia_page.text

In [0]:
# Beautiful Soup for reading tables
from bs4 import BeautifulSoup
soup = BeautifulSoup(wikipedia_doc, 'html.parser')
table = soup.find('table', {'class': 'wikitable sortable'})

In [6]:
# Convert table into pandas dataframe
col_names = ["PostalCode", "Borough","Neighborhood"]
df = pd.read_html(str(table),skiprows=1)
df = pd.DataFrame.from_dict(df[0])
df.columns = col_names
df.head()

  PostalCode           Borough                      Neighborhood
0        M2A      Not assigned                      Not assigned
1        M3A        North York                         Parkwoods
2        M4A        North York                  Victoria Village
3        M5A  Downtown Toronto         Regent Park, Harbourfront
4        M6A        North York  Lawrence Manor, Lawrence Heights

In [7]:
# Ignore cells with a borough not assigned
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
# Combine Neighbourhoods into 1 row
def combine_neighborhood(series):
  return series.str.cat(sep=',')

df_by_pstcode = df.groupby(["PostalCode","Borough"])
df = df_by_pstcode.agg({'Neighborhood':combine_neighborhood}).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [9]:
# Match Neighborhood to Borough if Neighborhood = Not assigned
def input_neigh(row):
  if row['Neighborhood'] == 'Not assigned':
    row['Neighborhood'] = row['Borough']

  return row

df = df.apply(input_neigh, axis=1)
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [12]:
df.shape[0]

103

In [15]:
# Get the Latitude and Longitude coordinates of each neighborhood
lat_lng_coords = pd.read_csv("Geospatial_Coordinates.csv")
lat_lng_coords.rename(columns={'Postal Code': 'PostalCode'},inplace=True)
lat_lng_coords.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [17]:
# Add to the existing df
df_with_location = pd.merge(df, lat_lng_coords, how='inner',left_on='PostalCode',right_on ='PostalCode')
df_with_location.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]